body {
    background-color: #003D6B;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container_formulario {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
}

h2 {
    color: #003D6B;
    font-weight: bold;
}

#botaoFazer_meu_cadastro {
    background-color: #EC7000 !important; /* Bootstrap, provavelmente, estava sobreescrevendo o css e nao deixando o botao da cor que eu queria. Isso resolveu */
    border-color: #EC7000 !important;
    width: 100%;
    padding: 12px;
}

button[type="submit"] {
    background-color: #EC7000;
    border: none;
    width: 100%;
    padding: 12px;
}

button[type="submit"]:hover {
    background-color: #c45e00;
}

#resultado {
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
    color: #003D6B;
}

button:disabled {
    background-color: #aaaaaa !important; /* Bootstrap, provavelmente, estava sobreescrevendo o css e nao deixando o botao cinza. Isso resolveu */
    border-color: #aaaaaa !important;
    cursor: not-allowed;
}